<app-header></app-header>
<app-search 
(shareCheckedList)="shareCheckedList($event)" 
(shareIndividualCheckedList)="shareIndividualCheckedList($event)"
(shareSearchMusicText)="shareSearchMusicText($event)"
></app-search>
<div style="padding: top 40px;"></div>
  <div class="flex-container" *ngFor="let data of musicData | searchFilter: searchText:checkList">
    <div class="flex-child">
    <img 
      src="https://picsum.photos/200/200" 
      class="card-img-top" 
      alt="https://picsum.photos/200/300">
    </div>
    <div class="flex-child">
      <h5>
        {{ data.title}}
      </h5>
      <p>
        {{data.supplement_information[0]}}
      </p>
      <p>
        {{data.description[0]}}
      </p>
      <div *ngFor="let link of data.links">
      <a 
        routerLink="{{link.file_url}}"
      >
        {{link.text}}
      </a>
      </div>
    </div>
  </div>
<router-outlet></router-outlet>
<app-footer></app-footer>